/* vim: ft=less */

@import "../omarchy/current/theme/waybar.css";

* {
  font-family: Maple Mono NF;
  font-size: 1rem;
  min-height: 0;
}

#waybar {
  background-color: @base;
  border-radius: 0.75rem;
  color: @subtext0;
}

.modules-center,
.modules-left,
.modules-right {
  margin: 6px;
}

#alerts,
#clock,
#play,
#processors,
#starter,
#window {
  background-color: @surface0;
  border-radius: calc(0.75rem - 6px);
}

#custom-omarchy {
  border-bottom-left-radius: calc(0.75rem - 6px);
  border-top-left-radius: calc(0.75rem - 6px);
  background-color: @blue;
  color: @base;
  padding: 0 0.5rem;
}

.module {
  margin: 0;
  min-width: 1rem;
  padding: 0 0.5rem;
}

#workspaces button {
  all: initial;
  color: @overlay2;
  padding: 0.1rem 0.5rem;
}

#workspaces button+button {
  margin-left: 0.5rem;
}

#workspaces button.empty {
  color: @overlay2;
}

#workspaces button:hover {
  color: @text;
}

#workspaces button.active {
  background-color: @blue;
  border-radius: 1rem;
  color: @base;
  font-weight: bold;
}

#window {
  margin: 0 0.5rem;
  padding: 0 0.75rem;
}

.empty #window {
  background-color: transparent;
}

#clock {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#alerts,
#play,
#processors {
  margin-left: 0.5rem;
}

#alerts .module,
#play .module,
#processors .module {
  padding: 0 0.625rem;
}

#alerts .module:hover,
#play .module:hover,
#processors .module:hover {
  color: @text;
}

#processors #custom-screenrecording-indicator {
  color: @red;
}

#processors #custom-screenrecording-indicator:hover {
  color: @pink;
}

tooltip {
  background-color: @base;
  border-radius: 0.5rem;
  opacity: 0.85;
}

tooltip>box {
  padding: 0.5rem;
}

tooltip label {
  color: @text;
  font-weight: bold;
}

.hidden {
  opacity: 0;
}
