[color]
 	branch = auto
 	diff = auto
	grep = auto
 	interactive = auto
	status = auto
	ui = auto
[core]
	editor = "code --wait"
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = "code --wait --diff $LOCAL $REMOTE"
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait"
[push]
	default = current
[rerere]
	enabled = true
[user]
	email = marcelohmdias@gmail.com
	name = marcelohmdias
[alias]
  cm = commit
  co = checkout
  cob = checkout -b
  com = checkout master
  lg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count=30
  ps = push
  st = status -sb
  sf = show --name-only
  incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..@{u})
  outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' @{u}..)
  rollback = reset --soft HEAD~1
  unstage = reset HEAD --
  undo = checkout --
